<h1>Welcome to our Coin Converter</h1>
<form action="/coins_output">
  <div class="form-group">
     <label for="coins">What would you like to have converted to coins?</label>
     <input id="coins" name="coins" class="form-control" type="number">
     <label for="quarters">How many quarters?</label>
     <input id="quarters" name="quarters" class="form-control" type="number">
     <label for="dimes">How many dimes?</label>
     <input id="dimes" name="dimes" class="form-control" type="number">
     <label for="nickels">How many nickels?</label>
     <input id="nickels" name="nickels" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
