<h1>Welcome to our Coin Converter</h1>
<form action="/coins_output">
  <div class="form-group">
     <label for="amount">What would you like to have converted to coins?</label>
     <input id="amount" name="amount" class="form-control" type="number">
     <label for="quarters">Maximum number of quarters?</label>
     <input id="quarters" name="quarters" class="form-control" type="number" required='true'>
     <label for="dimes">Maximum number of dimes?</label>
     <input id="dimes" name="dimes" class="form-control" type="number" required='true'>
     <label for="nickels">Maximum number of nickels?</label>
     <input id="nickels" name="nickels" class="form-control" type="number" required='true'>
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
