<h1>Welcome to our Coin Converter</h1>
<form action="/anagram_output">
  <div class="form-group">
     <label for="first_str">What would you like to have compared?</label>
     <input id="first_str" name="first_str" class="form-control" type="text">
     <label for="string">Comparison string?</label>
     <input id="string" name="string" class="form-control" type="text" required='true'>
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
